body {
    border: 0rem;
    margin: 0rem;
}

.header-container {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #FAFAFA;
    z-index: 3;
}

.search-input {
    height: 2.2rem;
    width: 80%;
}

.search-container {
    width: 30%;
}

.logo {
    width: 6rem;
    height: 5rem;
}

.button-inicio {
    background-color: dodgerblue;
    color: white;
    border: 0rem;
    text-decoration: none;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.button-inicio:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.button-registrarse {
    background-color: dodgerblue;
    color: white;
    border: 0rem;
    text-decoration: none;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.button-registrarse:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.button-search {
    text-decoration: none;
    height: 2rem;
    cursor: pointer;
}

.imagen-perfil {
    background-image: url("../../../resources/perfil-vacio.png");
    width: 3rem;
    height: 3rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.perfil-region {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-elipsis {
    height: 2rem;
    padding-left: 1rem;
     padding-right: 1rem;
}

.icono-elipsis:hover {
    color: #00000070;
}

.nombre-estilo {
    padding-right: 1rem;
}