.imagen-perfil-administrar {
    width: 3rem;
    height: 3rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

footer {
    text-align: center;
    color: white;
    min-height: 2rem;
    background-color: #191919;
    background-image: -moz-linear-gradient(top, #191919, #000000);
    background-image: -o-linear-gradient(top, #191919, #000000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
    background-image: -webkit-linear-gradient(#191919, #000000);
    background-image: linear-gradient(top, #191919, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cuerpo-administrar-publicaciones {
    margin: 6rem;
}

.container-fluid {
    padding: 0px!important;
}

.row {
    padding: 0px!important;
    margin: 0px!important;
}

.col {
    padding: 0px!important;
    margin: 0px!important;
}

.icono-administrar-usuario {
    height: 1.5rem;
}

.img-publicacion {
    width: 20rem;
    height: 20rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.like-icon {
    font-size: 1.5rem;
}

.edit-icon {
    color: rgb(0,191,255);
}

.edit-icon:hover {
    color: rgba(0,191,255, 0.5)
}

.trash-icon {
    color: red;
}

.trash-icon:hover {
    color: rgba(255,0,0,0.5);
}

.nueva-publi {
    color: rgba(0,191,255,1);
    font-size: 3rem;
}

.nueva-publi:hover {
    color: rgba(0,191,255,0.5)
}